# Build
/build/

# Composer
/composer.lock
/vendor/

# Composer bin plugin
/vendor-bin/**/vendor

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/package-lock.json
/node_modules/

# PHP Coding Standards Fixer
/.php_cs.cache

# WordPress
/wordpress/
