<?xml version="1.0"?>

<ruleset name="WordPress Pay OmniKassa 2.0 rules">
	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.3-99.0" />

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
    <arg value="sp" />

	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>
	<exclude-pattern>wp-content/*</exclude-pattern>

	<rule ref="PHPCompatibility">
		<!-- https://github.com/WordPress/WordPress/blob/4.9.8/wp-includes/compat.php#L355-L359 -->
		<exclude name="PHPCompatibility.PHP.NewConstants.json_pretty_printFound" />
	</rule>

	<rule ref="WordPress">
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_key" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_query" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />

        <exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_read_file_get_contents" />
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>tests/phpstan-bootstrap.php</exclude-pattern>
	</rule>
</ruleset>
