name: PHPLint

on: [ push, pull_request ]

jobs:
  run:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['7.4', '8.0', '8.1']

    name: PHPLint ${{ matrix.php-versions }}
    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}

    - uses: overtrue/phplint@8.0
